@media print, (max-width: 767px) {

    .cont {
        padding: 0 20px;
    }
    .header_logo a:nth-child(1) img {
        width: 130px;
    }
    .header_logo a:nth-child(2) img {
        width: 210px;
    }
    .first-screen_reklama {
        font-size: 20px;
    }
    .first-screen_title {
        font-size: 66px;
        line-height: 1.2;
        margin-top: 30px;
    }
    .question_text {
        font-size: 24px;
    }
    .question_text p {
        margin-bottom: 25px;
    }
    .question_text-title {
        font-size: 24px;
        line-height: 47px;
        height: 47px;
        max-width: 656px;
        border-radius: 24px;
        margin: 25px auto 0;
    }
    .question_text-box {
        margin-top: 40px;
        padding: 50px 30px 50px;
        border-radius: 20px;
    }
    .question_text-box span {
        font-size: 35px;
    }
    .question_links a {
        font-size: 24px;
        line-height: 47px;
        height: 47px;
        max-width: 656px;
        border-radius: 24px;
        margin: 25px auto 0;
    }
    .expert_post {
        font-size: 32px;
    }
    .expert_work {
        font-size: 22px;
        margin-bottom: 16px;
    }
    .expert_photo-mob {
        width: 390px;
        height: 447px;
    }
    .expert_name {
        font-size: 34px;
    }
    .expert_doctor,
    .expert_experience {
        font-size: 25px;
    }
    .expert .link {
        font-size: 24px;
        line-height: 47px;
        height: 47px;
        max-width: 656px;
        border-radius: 24px;
        margin: 25px auto 0;
    }
    .expert {
        padding: 40px 0 40px;
    }
    .describe_list li a {
        font-size: 22px;
        padding: 16px 19px;
        margin-bottom: 17px;
    }
    .describe_item {
        padding: 30px 30px 60px;
        margin-bottom: 30px;
    }
    .describe_item h2 {
        font-size: 24px;
        margin-bottom: 25px;
    }
    .describe_item h2:before {
        width: 69px;
        height: 59px;
        font-size: 39px;
        margin-right: 13px;
        margin-top: -6px;
    }
    .describe_item p {
        font-size: 22px;
    }
    .describe_item p {
        margin-bottom: 25px;
    }
    .describe_item .image-mob {
        width: 60%;
        height: auto;
    }
    .image-mob {
        margin: 0 auto 25px;
    }
    .describe {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .describe_item-warning {
        font-size: 22px;
        margin-bottom: 32px;
    }
    .foot-note {
        font-size: 30px;
    }
    .question-bottom .question_text-box {
        margin-bottom: 40px;
    }
    .question {
        padding: 28px 0 28px;
    }

    .first-screen {
        background: url(../images/first-section_bg2-mob.png), #5256a9;
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
        padding-top: 32px;
        height: 703px;
    }
    .question_text {
        font-size: 18px;
    }
    .question_text p {
        margin-bottom: 20px;
    }
    footer {
        padding: 25px 0 40px;
    }
    
    
    






  
}
